/* utility*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
}

.clerarfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.btn{
    margin:0 50px;
    padding: 10px 20px;
    border: none;
} 

.btn-fixed{
    text-decoration: none;
    color: white;
}

hr{
    color: #d0d0d3;
}

.margin30{
    margin-top: 30px;
}

.margin20{
    margin-top: 20px;
}

.margin-b{
    margin-bottom: 50px;
}

.margin-right20px{
    margin-right: 20px;
}

/* text */

.box{
    font-weight:500px ;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

h1{
    font-size: 90px;
    margin-bottom:40px;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
}

h3{
    font-size: 35px;
    margin-bottom: 8px;
}

h4{
    margin-bottom: 4px;
}
/* header */

header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    line-height: 70px;
    z-index: 100;
    top: 0;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
.logo{
    vertical-align: middle;
    width: 150px;
}
#nav-bar ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}

#nav-bar ul li a {
   text-decoration: none;
   color: black;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
}

.btn-blue:hover{
    color: red;
}

/* jumbotron */

#jumbotron{
    margin-top: 70px;
    padding: 50px;
    background-color: #b4d0e7;
    margin-bottom: 100px;
    height: 750px;
}

.sx{
    width: 27%;
}

.arrow{
    width: 25px;
    height: 40px;
    margin: 35px 0 50px 0;
    font-size: 30px;
}

.arrow:hover{
    cursor: pointer;
}

.dx{
    width: 50%;
}

#jumbotron .dx{
    position: relative;
}

.dx img{
    position: absolute;
    width: 100%;
    right: 150px;
}

.btn-mar{
    margin-left: 0px;
    margin-bottom: 15px;
}

/* piano d'acquisto */

.container{
    width: 80%;
    height: 1200px;
    padding: 70px 70px;
    margin: 0 auto;
    text-align: center;
}

.margin{
    margin: 37px 288px;
}

.table{
    width:1100px;
    margin-top: 20px;
    margin-left: 140px;
}

.colon{
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    border: 1px solid #d0d0d3;
    text-align: left;
}

.title{
    text-align: center;
    border: 1px solid #d0d0d3;
    padding: 5px 0;
}

.text-padd{
    padding: 35px 0 0 30px;
}

.mese{
    color: #778591;

}

.short{
    width: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#flag{
    color: #1f74ff;
    font-weight: bolder;
}

.buy{
    color: #0564ff;
}

.content ul li{
    list-style: none;
}

.content ul{
    height: 300px;
}

.btn-table{
    margin-left: -13px;
    margin-right: 0px;
    padding-right: 74px;
    padding-left: 69px;
    font-weight: bolder;
}

/* contact */

.container-contact{
    width: 80%;
    position: relative;
    border: 1px solid #d0d0d3;
    margin: 0 auto;
    margin-bottom: 200px;
}

.container-contact button{
    position: absolute;
    right: 0%;
    top: 35%;
    padding-left: 95px;
    padding-right: 95px;
}

.team-contact{
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}

.text-enterprise{
    padding:20px 50px;
}

/* sponsor dropbox*/

.sponsor-dropbox{
    width: 80%;
    margin: 0 auto;
    height: 800px;
}

.img-sponsor{
    width: 100%;
}

.text-sponsor{
    width: 40%;
    margin-left: 10%;
    margin-top: 50px;
}

.float-left-sponsor{
    float:left;
    width: 50%;
}

.btn-fixed-white{
    text-decoration: none;
    color: black;
}
.btn-white{
    background-color: white;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 0;
}

/* operazioni dropbox*/

.container-operazioni{
    width: 80%;
    margin: 0 auto;
    /* margin-top: 30px; */
}

.container-box{
    width: 100%;
    margin-top: 90px;
    height: 1000px;
}

.boxes{
    width: calc(100% / 3 - 80px);
    margin-top: 20px;
    margin-bottom: 70px;
    margin-right:80px;
}

.box-top{
    width: 50%;
}

.underline{
    text-decoration: underline;
}

/* team che utilizzano Dropbox*/

.container-team-title{
    width: 50%;
    margin: 0 0 0 183px;
}

.text-team-title{
    font-size: 50px;
}

.sez-square{
    height: 400px;
    margin-top: 60px;
    margin-right: -5px;
}
.container-square{
   width: calc(100% / 4);
}

.square{
    width: 49%;
    height: 200px;
    padding:50px;
    vertical-align: middle;
    object-fit: contain;
}

.green{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

.bordeaux{
    background-color: #61082b;
}

.light-blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.light-red{
    background-color: #d5001f;
}

.celeste{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}
.middle-square{
    height: 400px;
    background-color: #f5f5f5;
    width: 50%;
    padding-left: 63px;
}
.container-square-right{
    width: calc(100% / 4 );
 }

 .logo-designit{
     width: 20%;
     object-fit: contain;
     padding-top: 40px;
     padding-left: 0px;
     padding-bottom: 50px;
 }

.container-free-try{
    width: 100%;
    margin: 0 auto;
    background-color: #b4d0e7;
    height: 274px;
    padding: 77px 200px;
    position: relative;
}

.btn-white-team{
    background-color: white;
    border: none;
    position: absolute;
    top: 105px;
    right: 280px;
    padding-left: 80px;
    padding-right: 80px;
}
.text-free{
    margin-left: 200px;
    width: 600px;
    font-size: 46px ;
    color: #61082b;
}

/*domande frequenti */

.container-faq{
    width: 80%;
    margin: 50px auto;
    padding: 50px 20px 30px 30px;
}

.border-faq{
    border-top: 1px solid #dcdcde;
    line-height: 70px;
}

.faq{
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.8;
    display: none;
    color:#b1b8be;
}

.border-faq-bottom{
    border-bottom: 1px solid #dcdcde;
    line-height: 70px;
}

li .float-right{
    text-decoration: none;
}

.container-faq ul li{
    text-decoration: none;
    list-style: none;
}

.clearfix:hover .faq{
    display: block;
}



